body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.calculator {
    background-color: rgb(217, 217, 217);
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.display {
    border: 2px solid purple;
    margin: 10px 10px;
    padding: 5px 5px;
    background-color: rgb(220, 200, 255);
    color: black;
    text-align: right;
    font-size: 30px;
    letter-spacing: 2px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 10px 10px;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

